header.site-header {
	display: flex;
	align-items: center;
	padding: 1em;
}

header.site-header a:visited {
	color: var(--link-color);
}

header.site-header > a {
	font-size: 1.5em;
}

header.site-header nav {
	flex-grow: 1;
}

header.site-header nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0;
}

header.site-header nav ul li {
	list-style: none;
	margin: 0.5em;
}

@media (min-width: 768px) {
	header.site-header {
		padding: 2em;
	}
}
