---
title: www.mischka.me
siteTitle: www.mischka.me
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/styles.css" />
		{% if styles %}
			{% for style in styles %}
				<link rel="stylesheet" href="{{ style }}" />
			{% endfor %}
		{% endif %}
	</head>

	<body>
		{% include 'header.njk' %}
		<main>
			<h1>{{ title }}</h1>
			{{ content | safe }}
		</main>

		{% include 'footer.njk' %}

		{% if scripts %}
			{% for script in scripts %}
				<script src="{{ script }}"></script>
			{% endfor %}
		{% endif %}
	</body>
</html>
