---
title: mischka.me
siteTitle: mischka.me
---
<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>{{ title }} | {{ siteTitle }}</title>
		<meta name="author" content="Jacob Mischka" />
		<meta name="description" content="Jacob Mischka's personal website" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="/css/styles.css" />
		{% if styles %}
			{% for style in styles %}
				<link rel="stylesheet" href="{{ style }}" />
			{% endfor %}
		{% endif %}
	</head>

	<body>
		{% include 'header.njk' %}
		<main>
			<h1>{{ title }}</h1>
			{{ content | safe }}
		</main>

		{% include 'footer.njk' %}

		{% if scripts %}
			{% for script in scripts %}
				<script src="{{ script }}"></script>
			{% endfor %}
		{% endif %}
	</body>
</html>
