---
layout: page
title: Hello, world!
---

<p>
	My name is Jacob Mischka, I am a software developer in Milwaukee, WI.
	I enjoy eating, programming, weight lifting, bicycling, reading, grocery
	shopping, and taking long walks.
</p>

<p>
	I have an MS in Computer Science from the University of Wisconsin-Milwaukee.
	My <a href="https://www.mischka.pw/files/thesis.pdf">thesis</a> focused on
	WebAssembly and featured an extension to a mechanized proof of its
	specification's correctness.
</p>

<p>
	I currently work for the
	<a href="https://www.mcw.edu/departments/anesthesiology">
	Anesthesiology Department at the Medical College of Wisconsin</a>,
	where I'm given the opportunity to work on a wide variety of
	projects.
	Check out our
	<a href="https://github.com/mcw-anesthesiology">open source projects</a>
	for a small sample.
</p>

<p>
	For a better idea of my interests and skills, please check out my
	<a href="https://github.com/jacobmischka">GitHub profile</a> or my
	<a href="https://www.mischka.pw/files/resume.pdf">résumé</a>.
</p>

<p>
	Feel free to reach out at <a href="mailto:jacob@mischka.me">jacob@mischka.me</a>!
</p>
